.cart{
  margin-top: 90px;
}

.card{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  min-width: 500px;
  outline:none;
  cursor: pointer;
}

.card-body{
  padding-top: 40px;
}

.card-title{
  margin-top: 10px;
}

.productImage{
  height: 120px;
  object-fit: contain;
}

.totalAmount{
  text-align: center;
}

.fa-trash{
  color: grey;
}

.fa-trash:hover{
  color: #FF2F4A;
}

.cartAddButtons{
  //padding-bottom: 20px;
}

.btn-sm {
  max-width: 10px;
}

.btn-light{
  border-radius: 0px;
  margin: 0;
  box-shadow: none;
  width: 10px;
}

.btn-light:hover{
  background-color: #007BFF;
  transition: 0.3s;
}

.promoform{
  margin-bottom: 30px;
  bottom: 0;
}

.totalAmountLeft{
  float: left;
  margin-bottom: 0;
}

.totalAmountRight{
  float: right;
  margin-bottom: 0;
}
