<app-header></app-header>
<div class="cart">
  <div [@divCards]>
    <div [@divRemove]="removeState" class="card" *ngFor="let product of cartProducts" [routerLink]="['/details',product.id]">
      <div class="row">
        <div class="imgdiv col-5 col-sm-3">
          <img style="float: right" src="{{product.primaryMediaUrl}}" class="card-img productImage" alt="...">
        </div>
        <div class="bodydic col-7 col-sm-9">
          <div class="card-body">
            <a style="float: right" (click)="removeFromCart(product.id)"><i class="fa fa-trash fa-2x"></i></a>
            <div class="row">
              <h5 class="card-title col-12 col-sm-3">{{product.cardTitle}}</h5>
              <div class="col-12 col-sm-3">
                <p style="margin-bottom: 0">Price:</p>
                <p class="card-text text-primary">{{getPrice(product.id)}}€</p>
              </div>
              <div class="btn-group col-12 col-sm-6 cartAddButtons" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-sm">-</button>
                <button class="btn btn-primary btn-sm" disabled>1</button>
                <button type="button" class="btn btn-primary btn-sm">+</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div style="margin-left: 20px; margin-right: 20px" *ngIf="checkifItemInCartExists(); else emptyCartBlock">
    <div class="row">
      <div class="col-12 col-sm-7">
        <div class="promoform">
          <label class="grey-text">Have a Promotion code?</label>
          <form style="max-width: 300px">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter Code and hit submit" aria-label="Recipient's username">
              <div class="input-group-append">
                <button class="btn btn-primary btn-md m-0 px-3 py-2 z-depth-0 waves-effect" type="button" (click)="submitPromoCode()">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-sm-5">
        <p class="totalAmountLeft grey-text">Subtotal</p><p class="totalAmountRight grey-text">{{cartSubtotalAmount}}€</p>
        <br>
        <p class="totalAmountLeft grey-text">Shipping</p><p class="totalAmountRight grey-text">0€</p>
        <br>
        <hr>
        <p class="totalAmountLeft font-weight-bold">Total</p><p class="totalAmountRight font-weight-bold">{{cartSubtotalAmount}}€</p>
      </div>
    </div>
  </div>
  <ng-template #emptyCartBlock>
    <div class="totalAmount">
      <p>Your Cart is Empty at the moment</p>
    </div>
  </ng-template>
  <hr>
  <div class="btn-block">
    <button class="btn btn-primary btn-lg btn-block" [disabled]="!checkifItemInCartExists()" (click)="checkout()" >Continue To Checkout</button>
  </div>
</div>
