.cart{
  margin-top: 90px;
}

.card{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  min-width: 400px;
  outline:none;
  cursor: pointer;
}

.card-body{

}

.card-title{
  margin-top: 10px;
}

.productImage{
  height: 174px;
  object-fit: contain;
}

.totalAmount{
  text-align: center;
}

.fa-trash{
  color: grey;
}

.fa-trash:hover{
  color: #FF2F4A;
}

.cartAddButtons{
  //padding-bottom: 20px;
}

.btn-sm {
  max-width: 10px;
}

.btn-light{
  border-radius: 0px;
  margin: 0;
  box-shadow: none;
  width: 10px;
}

.btn-light:hover{
  background-color: #007BFF;
  transition: 0.3s;
}

.promoform{
  margin-bottom: 30px;
  bottom: 0;
}

.totalAmountLeft{
  float: left;
  margin-bottom: 0;
}

.totalAmountRight{
  float: right;
  margin-bottom: 0;
}

.imgdiv .col-5 .col-sm-3{
  padding: 0;
  padding-left: 0px;
}

.bodydic .col-7 .col-sm-9{
  padding: 0;
}
