<div class="filter">
  <div class="md-form">
    <input class="form-control" id="form1" placeholder="Search" type="text" [(ngModel)]="searchInput" (keyup)="onFilterSearch()" >
  </div>
  <hr>
  <div class="md-form">
    <i class="fas fa-envelope prefix"></i>
    <input type="text" id="inputIconEx1" class="form-control">
    <label for="inputIconEx1">E-mail address</label>
  </div>
  <hr>
  <div class="row">
    <div class="col-1"></div>
    <input class="col-6" placeholder="Search" type="text" [(ngModel)]="searchInput">
    <button class="col-3" (click)="onFilterSearch()">SRC</button>
    <div class="col-2"></div>
  </div>
  <hr>
  <label>Order By:</label>
  <br>
  <input type="radio" name="sort" value="true" (click)="onSortAlphabetically(true)"><label>Alphabetically ascending</label>
  <br>
  <input type="radio" name="sort" value="false" (click)="onSortAlphabetically(false)"><label>Alphabetically descending</label>
  <hr>
  <label>Filter by amount in €: </label>
  <div class="custom-slider">
    <ng5-slider (mouseup)="onFilterByAmount()" [(value)]="filterValues.low" [(highValue)]="filterValues.high" [options]="options"></ng5-slider>
  </div>
</div>
