$myBlue: #448aff;
$myRed: #FF2F4A;
$myOrnage: #FEBF70;
$myBackgroundGrey: #F5F6FB;

.filter{
  background-color: white;
  padding: 10px;
}

.active-blue .fa, .active-cyan-2 .fa {
  color: #007BFF;
}

.active-blue input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #448aff;
  box-shadow: 0 1px 0 0 #448aff;
  width: 100%;
}

.searchbutton{
  background-color: transparent;
  border-color: transparent;
}

::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bar {
    background: #f1f1f1;
    height: 3px;
  }
    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 12px;
      height: 21px;
      bottom: 0;
      background-color: #007BFF;
      border-radius: 10px;
      outline: none;
    }

    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
}

.autocomplete{
  margin-top: 0;
  z-index: 9;
  position: absolute;
  background-color: white;
  margin-left: 4px;
  padding: 0;
  padding-top: 15px;
  border-bottom: 0;
  box-shadow: 3px 3px 6px 0px grey;
  width: 165px;
  overflow-y: auto;
  max-height: 400px;
}

.autocompleteName{
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.searchbar{
  margin-bottom: 0;
}

.filtercontent{
  margin-left: 10px;
  margin-right: 10px;
}

.filterexpand{
  background-color: transparent;
  padding: 15px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 150px;
  width: 100%;
  outline: none;
  border: none;
  color: grey;
}

.fa-arrow-down{
  color: grey;
}

.fa-arrow-up{
  color: grey;
}

.radioButtonText{
  color: grey;
  padding-left: 10px;
}

