<div class="home">
  <div class="filter">
    <input placeholder="Search" type="text" [(ngModel)]="searchInput" (keyup)="filterSearch()" >
    <hr>
    <div class="row">
      <div class="col-1"></div>
      <input class="col-6" placeholder="Search" type="text" [(ngModel)]="searchInput">
      <button class="col-3" (click)="filterSearch()">SRC</button>
      <div class="col-2"></div>
    </div>
    <hr>
    <label>Order alphabetically:</label>
    <br>
    <input type="radio" name="sort" value="true" (click)="sortAlphabetically(true)"><label>ascending</label>
    <br>
    <input type="radio" name="sort" value="false" (click)="sortAlphabetically(false)"><label>descending</label>
    <hr>
    <label>Filter by amount in €: </label>
    <div class="custom-slider">
      <ng5-slider (mouseup)="filterByAmount()" [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 img" *ngFor="let product of products" [routerLink]="['/details',product.id]" style="margin-bottom: 10px">
        <div class="card" style="width: 18rem; min-height: 500px">
          <img class="card-img-top" src="{{product.primaryMediaUrl}}">
          <div class="card-body">
            <h5 class="card-title">{{product.cardTitle}}</h5>
            <p class="card-text">{{product.cardDescription}}</p>
            <p class="card-text">Avaliable: {{product.availableQuantity}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


