<app-header (filterButtonClick)="onHeaderFliterButtonClick()"></app-header>
<div class="home">
  <div [@divFilterState]="filterState" class="filter">
    <app-filter class="filters" (filterSearchCart)="filterSearch($event)" (sortAlphabeticallyCart)="sortAlphabetically($event)" (filterByAmountCart)="filterByAmount($event)" ></app-filter>
  </div>
  <div [@divProductsState]="filterState" class="products">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 img productcard" *ngFor="let product of products" [routerLink]="['/details',product.id]">
        <div class="card">
          <img class="card-img-top" src="{{product.primaryMediaUrl}}">
          <div class="card-body">
            <h5 class="card-title">{{product.cardTitle}}</h5>
            <p class="card-text description">{{product.cardDescription}}</p>
            <p class="card-text">Avaliable: {{product.availableQuantity}}</p>
            <p class="price">{{getPrice(product.id)}}€</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


